* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
/* HEADER */
header {
    height: 65px;
    width: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,0,1,0.5956757703081232) 43%, rgba(0,212,255,0) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.submenu-left ul {
    list-style: none;
    display: flex;
}
.submenu-left a {
    text-decoration: none;
    color: #d3d2d0;
    margin: 0 10px;
    font-size: 14px;
}
.submenu-left {
    height: 80px;
    display: flex;
    align-items: center;
}
.menu-left {
    display: flex;
    height: 80px;
}
.netflix-icon img {
    width: 80px;
    height: 80px;
    margin-left: 60px;
    margin-right: 40px;
}
.lupa img {
    width: 20px;
}
.gift img {
   width: 25px; 
}
.bell img {
    width: 28px;
}
.picture {
    width: 34px;
    border-radius: 5px;
}
.arrow-down {
    width: 10px;
    margin-left: 5px;
}
.menu-right nav {
    display: flex;
    margin-right: 40px;
}
.niños {
    font-size: 14px;
    font-weight: lighter;
}
.menu-right figure {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
/* HERO */
.hero {
    max-width: 100%;
    height: 90vh;
    position: relative;
    background-image: url(https://occ-0-2382-116.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABYg7gVFpRCV2bcaTYbTNHZoa6ZgNUl_niM-lKQyMbxd4xywxn_SwBbUr4v3wZPelk56gl79h3Lmi5M3Vendmqq3S7Ztz.webp?r=ade);
    background-repeat: no-repeat;
    background-size: 120%;
}
.text-description {
    position: absolute;
    top: 124px;
    left: 50px;
}
.movie-icon {
    max-width: 418px;
    margin-bottom: 15px;
}
.text-description {
    font-size: 22px;
}
.buttons {
    display: flex;
}
.buttons button {
    border-radius: 6px;
    border: none;
    height: 42px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 7px;
}
.play-button {
    width: 180px;
}
.play-button img {
    width: 23px;
    margin-right: 13px;
}
.info-button {
    width: 220px;
    color: white;
    background-color: rgba(128,128, 128, .8);
}
.info-button img {
    width: 27px;
    margin-right: 13px;
}
/* POPULAR MOVIES */
.container-movie-popular {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 105px;
    padding-left: 50px;
}
.text-popular {
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 260px;
    padding: 0 50px;
}
.movie-popular {
    width: 100%;
    height: 140px;
    background-color: rgba(0,0, 0,.6); 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
}
.movie-popular div {
    width: 230px;
    height: 100%;
    background-color: blue;
    margin: 0 1px;
    display: inline-block;
    border-radius: 5px;
}
.next-button {
    width: 70px;
    height: 140px;
    background-color: rgba(0,0, 0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50px;
}
.next-button img {
    width: 52px;
    height: 52px;
}
.left-button {
    width: 70px;
    height: 140px;
    background-color: rgba(0,0, 0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 500;
}
.left-button img {
    width: 52px;
    height: 52px;
}
.movie-popular div img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 425px) {
    header {
        height: 50px;
    }
    .submenu-left {
        display: none;
    }
    .menu-left {
        justify-content: center;
        align-items: center;
    }
    .netflix-icon img {
        width: 60px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .lupa img {
        width: 15px;
    }
    .gift img {
       width: 19px; 
    }
    .bell img {
        width: 20px;
    }
    .picture {
        width: 25px;
        border-radius: 5px;
    }
    .arrow-down {
        width: 10px;
        margin-left: 5px;
    }   
    .text-description {
        font-size: 12px;
        top: 50px;
        left: 20px;
    }
    .movie-icon {
        max-width: 230px;
    }
    .buttons button {
        height: 30px;
        font-size: 13px;
    }
    .play-button {
        width: 130px;
    }
    .info-button {
        width: 180px;
    }
    .text-popular {
        font-size: 16px;
        top: 265px;
        padding: 0 25px;
    }
    .container-movie-popular {
        top: 290px;
        padding-left: 25px;
    }
    .next-button {
        right: 20px;
    }
}